html,
body {
  padding: 0;
  margin: 0;
  background-color: #212121;
  background-image: radial-gradient(#111 25%, transparent 26%),
    radial-gradient(#111 25%, transparent 26%);
  background-size: 6px 6px;
  background-position: 0 0, 3px 3px;
  color: white;
  overscroll-behavior-y: none;
}

html,
body {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
